{
  "settings": {
    "defaultFontSize": 16,
    "defaultTheme": "obsidian-dark",
    "siteName": "mdWebview",
    "enableVersion": false,
    "version": "",
    "enableDownload": false,
    "downloadUrl": ""
  }
}
