{
  "settings": {
    "defaultFontSize": 20,
    "defaultTheme": "zen",
    "siteName": "大覺藏集",
    "enableVersion": true,
    "version": "2026-3",
    "enableDownload": true,
    "downloadUrl": ""
  }
}
